# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_AZARASHI64_LEFT

config ZMK_KEYBOARD_NAME
    default "Azarashi64 Left"

endif

if SHIELD_AZARASHI64_RIGHT

config ZMK_KEYBOARD_NAME
    default "Azarashi64 Right"

endif
